<!DOCTYPE html>
<html lang="en">

<%- include ('partials/header.ejs') %>

    <body>
        <%- include ('partials/navbar.ejs') %>
            <div class="container">
                <hr>
                <h1>Página de Perguntas</h1>
                <hr>
                <a href="/perguntar" class="btn btn-success"> Faça uma pergunta! :)</a>
                <br>
                <% perguntas.forEach(pergunta => { %>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <h3>
                                <%= pergunta.titulo %>
                            </h3>
                        </div>
                        <div class="card-footer">
                          <a href="/pergunta/<%= pergunta.id %>"> <button class="btn btn-primary" >Responder!</button> </a>
                        </div>
                    </div>


                    <% })%>
            </div>

    </body>
    <%- include ('partials/footer.ejs') %>